<div style="background-color: background: rgb(24,58,85);
background: linear-gradient(86deg, rgba(24,58,85,1) 0%, rgba(37,102,112,1) 100%); padding: 10px;">
   <div class="mt-5">
       <div class="row">

       </div>
   </div>
<div class="container sombra d-flex justify-content-center rounded align-items-center" style="margin-bottom: 6%; margin-top: 2%; padding: 5%; background-color: white;">
<div class="row d-flex align-items-center">
  <div class="col-md-6">
      <h2 class="nome">NOSSO ENDEREÇO</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, voluptatum iste! Repudiandae, labore rerum distinctio iste at odio animi rem recusandae numquam totam. Suscipit voluptate, ad consequatur magnam dolorum optio.
      </p>
      
      
      <div class="d-flex justify-content-end rounded p-2" style="background: rgb(24,58,85);
      background: linear-gradient(86deg, rgba(24,58,85,0) 0%, rgba(37,102,112,1) 100%);">
      <a href=" https://wa.me/5511948400434" class="ml-3" target="_blank" rel="noopener noreferrer"><img src="../../assets/img/wpp.png" width="40px" height="40px" alt="Whatsapp Logo"></a>
      <a href="mailto:longevida@gmail.com" class="ml-3" target="_blank" rel="noopener noreferrer"><img src="../../assets/img/gmail.png" width="40px" height="40px" alt="Mail Logo"></a>
      <a href="https://github.com/GustavoGodoy/Longevida/" class="ml-3 mr-1" target="_blank" rel="noopener noreferrer"><img src="../../assets/img/github.png" width="37px" height="37px" alt="Github Logo"></a>
    </div>
  </div>

  <div class="col-md-6">
      <iframe class="w-100 rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1065594089105!2d-46.65390548575054!3d
       -23.56461608468118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c7f481fd9f%3A0x9982bfde4df54830!2
        sBela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001404-100!5e0!3m2!1spt-BR!2sbr!4v1603292419122!5m2!1spt-BR!2sbr"
        width="500" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" onmousemove="mapaZoom()" onmouseout="mapaNormal()" id="mapa"></iframe>
  </div>
  <div class=" container p-3 mb-5 bg-white rounded">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="text-center nome">ENTREM EM CONTATO:</h2>
      </div>
    </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form id="formExemplo" data-toggle="validator">
          <div class="form-group">
            <label for="exampleFormControlInput1" class="text">QUAL SEU NOME?</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome" type="text" required data-minlength="5">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1" class="text">QUAL SEU E-MAIL?</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="exemplo@examplo.com" type="email"
              data-error="Please inform a valid e-mail." required>
              <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="text">QUAL O ASSUNTO? </label>
            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Qual o assunto?  (min. 30 caracteres)" required data-minlength="30"></textarea>
          </div>

          <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-outline w-25">Enviar</button>
              </div>
          </form>
      </div>
        </div>
    </div>
</div>
</div>
</div>